<div class="container-fluid" style="height: 864px;">
  <div class="row" ng-hide="$ctrl.hasImage()" >
    <div class="col-md-6">
      <input class="form-control" placeholder="Enter Screen Name" type="text" ng-model="$ctrl.model.name">
    </div>
    <div class="col-md-6">
      <button class="btn btn-primary btn-block" ng-click="$ctrl.save()">Save</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-4" style="position: relative">
      <h2>Screen</h2>
      <div id="holder" ng-class="{empty: $ctrl.hasImage(), hover: $ctrl.imageHover}" html5-drop on-drag-enter="$ctrl.imageHover = true"
        on-drag-leave="$ctrl.imageHover = false" ng-mouseleave="$ctrl.imageHover = false" on-drop="$ctrl.drop(event, dropZone, dragElement, data)">
        <div ng-show="$ctrl.hasImage()" style="text-align: center;">
          <h2>Drag Image Here</h2>
          - or - <br/>
          Tap to upload <input type="file" fileread="$ctrl.loadImage(file)" style="display: inline; width: 76px;">
        </div>
        <img ng-hide="$ctrl.hasImage()" ng-src="{{$ctrl.model.image}}" style="width: 100%;" />
        <div class="spinner" ng-show="$ctrl.showSpinner">
          <span class="glyphicon glyphicon-ban-circle"></span>
        </div>
        <div style="position: absolute; top: -35px; left: 40%;">
          {{$ctrl.model._id}}
        </div>
        <div id="annotationTemplate" class="annotation" html5-drag model="$ctrl">
          {{$ctrl.currentNumber}}
        </div>
        <div class="annotation" ng-repeat="def in $ctrl.model.definitions" style="left: {{def.left}}; top: {{def.top}};" html5-drag model="def">
          {{def.number}}
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-8">
      <h2>Definitions</h2>
      <form>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Type</th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="def in $ctrl.model.definitions">
              <th scope="row"><label class="form-control">{{def.number}}</label></th>
              <td><input class="form-control" type="text" placeholder="type" ng-model="def.type"></td>
              <td><input class="form-control" type="text" placeholder="name" ng-model="def.name"></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>