<div class="container-fluid" style="height: 864px;">
  <div class="row" ng-hide="$ctrl.hasImage()">
    <div class="col-sm-6">
      <div class="input-group">
        <input class="form-control" placeholder="Enter Screen Name" type="text" ng-model="$ctrl.model.name">
        <span class="input-group-addon">
          <label><input type="checkbox" ng-model="$ctrl.model.deleted" style="margin-right: 5px">Deleted</label>
        </span>
      </div>
    </div>
    <div class="col-sm-3">
      <input class="form-control" placeholder="Enter A Component" type="text" ng-model="$ctrl.model.component" uib-typeahead="component for component in $ctrl.getComponents($viewValue)" typeahead-no-results="noResults">
      <div ng-show="noResults">
        <i class="glyphicon glyphicon-remove"></i> No Results Found
      </div>
    </div>
    <div class="col-sm-3">
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary" ng-click="$ctrl.save()">Save</button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-danger" ng-click="$ctrl.delete()">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-4" style="position: relative">
      <h2>Screen</h2>
      <div id="holder" ng-class="{empty: $ctrl.hasImage(), hover: $ctrl.imageHover}" html5-drop on-drag-enter="$ctrl.imageHover = true"
        on-drag-leave="$ctrl.imageHover = false" ng-mouseleave="$ctrl.imageHover = false" on-drop="$ctrl.drop(event, dropZone, dragElement, data)">
        <div ng-show="$ctrl.hasImage()" style="text-align: center;">
          <h2>Drag Image Here</h2>
          - or - <br/> Tap to upload <input type="file" fileread="$ctrl.loadImage(file)" style="display: inline; width: 76px;">
        </div>
        <img ng-hide="$ctrl.hasImage()" ng-src="{{$ctrl.model.image}}" style="width: 100%;" />
        <div class="spinner" ng-show="$ctrl.showSpinner">
          <span class="glyphicon glyphicon-ban-circle"></span>
        </div>
        <div id="screenId">
          <div>Drag the annotations <span class="fa fa-arrow-right" /></div>
          <div>Onto the image <span class="fa fa-arrow-down" /></div>
        </div>
        <div class="annotation template misc" drag-data="misc" drag-template="true" html5-drag>
          {{$ctrl.currentNumber}}
        </div>
        <div class="annotation-label template misc">
          misc
        </div>
        <div class="annotation template config" drag-data="config" drag-template="true" html5-drag>
          {{$ctrl.currentNumber}}
        </div>
        <div class="annotation-label template config">
          config
        </div>
        <div class="annotation template omni" drag-data="omni" drag-template="true" html5-drag>
          {{$ctrl.currentNumber}}
        </div>
        <div class="annotation-label template omni">
          omni
        </div>
        <div class="annotation template data" drag-data="data" drag-template="true" html5-drag>
          {{$ctrl.currentNumber}}
        </div>
        <div class="annotation-label template data">
          data
        </div>
        <div id="annotation-{{def.number}}" class="animated fadeIn annotation {{def.type}}" tabindex="0" ng-class="{selected: def.selected, hover: def.hover}"
          ng-repeat="def in $ctrl.model.definitions" style="left: {{def.left}}; top: {{def.top}};"
          ng-mouseover="def.hover = true" ng-mouseleave="def.hover = false" ng-focus="$ctrl.select(def, true)" ng-blur="$ctrl.unselect(def, true)"
          ng-keyup="$ctrl.keypressed($event, def)" html5-drag>
          {{def.number}}
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-8">
      <h2>Definitions</h2>
      <div class="row" style="font-weight: bold">
        <div class="col-sm-1 col-md-2 col-lg-1">#</div>
        <div class="col-xs-3 col-md-3 col-lg-3">Type</div>
        <div class="col-xs-7 col-md-6 col-lg-7">Name</div>
        <hr>
      </div>
      <form style="max-height: 760px; overflow-x: hidden; overflow-y: auto; padding: 0px 20px 0px 20px;">
        <div id="definition-{{def.number}}" class="animated fadeIn definition {{def.type}}" ng-class="{selected: def.selected}" ng-repeat="def in $ctrl.model.definitions">
          <div class="row">
            <div class="col-xs-2 col-sm-1 col-md-2 col-lg-1"><label class="form-control number">{{def.number}}</label></div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <select class="form-control" ng-model="def.type" ng-focus="$ctrl.select(def)" ng-blur="$ctrl.unselect(def)" ng-change="$ctrl.updateDefinition($event, def)">
                <option value="config">Configuration</option>
                <option value="omni">Omniture</option>
                <option value="data">Data</option>
                <option value="misc">Misc</option>
              </select>
            </div>
            <div class="col-xs-5 col-sm-7 col-md-5 col-lg-7"><input class="form-control" type="text" placeholder="name" ng-model="def.name" ng-focus="$ctrl.select(def)" ng-blur="$ctrl.unselect(def)"
                ng-keyup="$ctrl.updateDefinition($event, def)"></div>
            <div class="col-xs-2 col-sm-1 col-md-2 col-lg-1">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="def.new"> New?
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <textarea class="form-control" placeholder="description" ng-model="def.description" ng-focus="$ctrl.select(def)" ng-blur="$ctrl.unselect(def)"
                ng-keyup="$ctrl.updateDefinition($event, def)"></textarea>
            </div>
          </div>
          <hr>
        </div>
      </form>
    </div>
  </div>
</div>
